
body {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  margin: 0;
}

.grid-container {
  display: grid;

  justify-content: center;
}

.footer {
  padding: 20px;
  background: white;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 10px;
  text-align: center;
  color: black;
}
